html,
body,
.main {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  counter-reset: timer-counter;
  color: white;
}

.timer {
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  background: black;
  position: relative;
}
.timer::before {
  counter-increment: timer-counter;
  content: "Player " counter(timer-counter);
  position: absolute;
}
.timer + .timer {
  border-top: 0.3rem solid white;
}

.timer:nth-child(1) {
  transform: rotateZ(180deg);
}
